<%= render partial: 'blocks/cover', locals: {className: "WithBg", label: "2-month trial period", sub_title: "Design from scratch", main_header: "Communication design<br><span>basic level</span>", note_one: "The course starts in February, 2023", note_two: "Basics of design taught by practitioners, industry experts", button: {"title" => "Start learning", "link" => "https://onlinesdesign.com/join"}, bg_image: "/assets/bg.jpg"} %>
<%= render partial: 'blocks/title', locals: {tag: "h2", text: "Who is a communication designer"} %>
<%= render partial: 'blocks/text_with_image', locals: {text: "<p>Communication designers are responsible for all visual communications of a product or a brand.</p><p>They solve its problems through design. Create an identity which is appropriate to the brand’s or product’s objectives and audience. Then distribute it by all means of customer communication: via packaging, website, and corporate products. On merchandise and souvenirs.</p><p>Anyone can become a communication designer — with practice and advice. We will start from the visual identity, then gradually proceed to more complicated tasks: digital, graphic, and typographic.</p>", image: "/assets/IllustrationOne.svg"} %>
<%= render partial: 'blocks/title', locals: {tag: "h2", text: "During this course you will"} %>
<%= render partial: 'blocks/activity', locals: {activity_items: [
        {"text" => "create your brand’s visual identity"},
        {"text" => "develop and animate graphic and typographic posters"},
        {"text" => "visualise space, interior, or landscape of your project"},
        {"text" => "develop a multi-page publication: a book, magazine or catalogue"},
        {"text" => "study your target audience, analyse competitors"},
        {"text" => "work with design software: Adobe, ReadyMag, and others"}
        ]} %>
<%= render partial: 'blocks/title', locals: {tag: "h3", text: "Possible career tracks"} %>
<%= render partial: 'blocks/future_list', locals: {text: "<ul><li>art-director</li><li>infography & branding specialist</li></ul><ul><li>motion, media, or book designer</li><li>fonts, packaging, or ad designer</li></ul><ul><li>graphic designer</li><li>web designer</li><li>pre-press specialist</li></ul>"} %>
<%= render partial: 'blocks/title', locals: {tag: "h1", text: "Course participants study in a convenient digital environment"} %>
<%= render partial: 'blocks/pros', locals: {items: [
        {"title" => "Clear theory and relevant data", "text" => "We follow the design agenda, update and supplement the materials. Each&nbsp;module is a balance between practical and theoretical skills. You work with design software, get to know artistic practices, and receive a&nbsp;theoretical base."}, 
        {"title" => "Face-to-face, practical, real-time learning", "text" => "Students meet 3 times a week in a digital classroom, receive educational materials and guidelines. It is not a pre-recorded course, but practice in small groups under the guidance of a curator. 1 group — up to 24 people."}, 
        {"title" => "Project portfolio", "text" => "There are 4 modules in this course. Within each module students prepare&nbsp;and defend a project. Projects vary in difficulty — from graphic and typographic posters to a multi page publication: a book, a magazine, or a catalogue. They help to track your progress, become a tool for promotion and recruitment."}
]} %>
<%= render partial: 'blocks/title', locals: {tag: "h5", image: {"bg_image" => "/assets/IllustrationTwo.svg", "className" => "IllustrationTwo"}, text: "Course summary"} %>
<%= render partial: 'blocks/cards', locals: {style: "unnumbered", items: [
        {"subtitle" => "LEVEL 1", "title" => "Identity", "text" => "Students select a topic for an imaginary service, product, or enterprise. Then course participants develop its logo, corporate colours and graphic image."},
        {"subtitle" => "LEVEL 2", "title" => "Visual communication basics", "text" => "Students develop and animate a series of graphic and typographic posters. Use them as a part of a visual communication campaign."},
        {"subtitle" => "LEVEL 3", "title" => "Collage", "text" => "Students study collage techniques to visualise the space, interior, or landscape of their project. Collages will illustrate a multi page publication."},
        {"subtitle" => "LEVEL 4", "title" => "Multi page design basics", "text" => "Students learn about publication scenarios, typography, layout, and pre-press. Design a book, a guide, a catalogue, or a magazine about their project."},
        {"subtitle" => "LEVEL 5", "title" => "Branding", "text" => "Students do ‟field research”: study target audiences, competitors. Perform SWOT-analysis, develop a brand platform for their project. Learn how branding agencies work."},
        {"subtitle" => "LEVEL 6", "title" => "Design technology", "text" => "Students work with vector, raster, and 3D-graphics. Practice layout, video-editing, and web-publishing in Adobe software package: Illustrator, Photoshop, Indesign, After Effects, Premiere.>"}
    ]} %>
<%= render partial: 'blocks/title', locals: {tag: "h5", text: "Disciplines", image: {"bg_image" => "/assets/IllustrationThree.svg", "className" => "IllustrationThree"}, lead: "ONLINES’ methodology is built on 4 blocks of educational disciplines. They help our students acquire skills, abilities, and tools to start a career in design. If you are curious and interested in the field of visual arts, you will do well."} %>
<%= render partial: 'blocks/cards', locals: {style: "numbered", items: [
    {"subtitle" => "", "title" => "Creative design", "text" => "Work under supervision develops the design thinking. From a fantasy student’s content becomes a reality — and the scope grows."},
    {"subtitle" => "", "title" => "Design technology", "text" => "Adobe software packages: Illustrator, Photoshop, Indesign, After Effects, Premiere. Vector, raster, and 3D-graphics. Layout, video editing, and web publishing."},
    {"subtitle" => "", "title" => "Design and art: history and&nbsp;theory", "text" => "A study of how a designer can find inspiration in classical and modern art. Students may choose an introductory course or opt for a preferable one."},
  ]}%>
<%= render partial: 'blocks/tuition_fee', locals: {title: "TUITION FEE", lead: "The payment is divided into 3 parts. After Module 1, a student pays $1,500 for the first 2 modules. Then — $1,500 before Modules 3 and 4.", text: "<p>If you decide not to continue the course after the first two months, that's fine. You'll only pay a $100 deposit.</p><p>Once you have completed the details, we'll send you the contract. When you sign up for the course, we'll charge $100 — the deposit for the Module 1.</p>", bg_image_one: "assets/IllustratonFour.svg",  bg_image_two: "assets/IllustrationFive.svg"}%>
<%= render partial: 'blocks/title', locals: {tag: "h2", text: "FAQ"}%>
<%= render partial: 'blocks/faq', locals: {items: [
    {"question" => "Is communication design the right profession for me?", "answer" => "If you become a communication designer, you are free to choose a preferable area. You can layout books and magazines, work in branding or advertising. Any field in visual art and design is open if you possess the necessary skill set and a portfolio."},
    {"question" => "Is it possible to become a designer in a year?", "answer" => "We don't ever stop learning. During the first year you will have acquired basic professional skills to start earning a living in your new profession."},
    {"question" => "What are the entry requirements?", "answer" => "Be curious, motivated, and interested in the field of design and visual arts. We do not have any professional requirements for entrants to the programme."},
    {"question" => "How and when will I learn?", "answer" => "You will study on a timetable face-to-face with your tutor in real time. It is not a pre-made course, but practice under the guidance of group teachers."},
    {"question" => "Who's going to teach me?", "answer" => "Current practitioners with a track of professional experience and a portfolio of completed projects. Design is a practical discipline, and should be taught by people who work in the creative industry."},
    {"question" => "What should I do if I can't cope with the workload?", "answer" => "Our teachers are always ready to help and advise you in case of problems. If you are interested in learning a new profession, you are sure to do well. Design of this programme ensures it."},
    {"question" => "What if I can't draw and am not creative enough?", "answer" => "ONLINES courses do not have entry requirements. Programme tutors will help you to learn all basic creative skills, get to know the genres of communication design."},
    {"question" => "Will I be able to find a job after this course?", "answer" => "Communication design is a cross-border industry. The knowledge and skills you acquire, as well as your portfolio of completed projects, will help you to compete for clients anywhere in the world."}
]} %>
<%= render partial: 'blocks/cover', locals: {className: "NoBg", main_header: "Join the <span>onlines</span>", button: {"title" => "Become a designer", "link" => "https://onlinesdesign.com/join"}, note_one: "Starts in February, 2023", bg_image: "", note_two: ""} %>
