<div class="SectionWrapper">
<% if style == "numbered" %>
    <div class="DisciplinesGrid">
    <% items.each_with_index do |card, i| %>
      <div class="Discipline">
        <div class="FlexBox">
          <p class="SubTitle"><%= raw card["title"] %></p>
          <p class="MainText"><%= raw card["text"] %></p>
        </div>
        <div class="NumberWrapper">
          <p class="Number"><%= i + 1 %></p>
        </div>
      </div>
    <% end %>
  </div>
<% else %>
  <div class="CourseSummaryWrapperr">
    <% items.each do |card| %>
      <div class="CourseSummaryItem">
        <div class="FlexBox">
          <div class="UpperRow">
            <p class="Breadcrumb"><%= card["subtitle"] %></p>
            <p class="SubTitle"><%= card["title"] %></p>
          </div>
          <p class="BreadcrumbTwo">more</p>
        </div>
        <div class="Modal">
          <div class="ModalContent">
            <div class="ModalInfo">
              <p class="Number"><%= card["subtitle"] %></p>
              <p class="Header"><%= card["title"] %></p>
              <p class="MainText"><%= card["text"] %></p>
            </div>
            <div class="CloseIconWrapper">
              <svg width="37" height="37" viewBox="0 0 37 37" fill="none" xmlns="http://www.w3.org/2000/svg">
                <line x1="27.2236" y1="27.4534" x2="9.54592" y2="9.77574" stroke-width="1.5" stroke="black"/>
                <line x1="9.54684" y1="27.2242" x2="27.2245" y2="9.54652" stroke-width="1.5" stroke="black"/>
              </svg>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
<% end %>
</div>
