<div class="SectionWrapper">
  <div class="IllustrationFour" id="hidemob" style="background-image: url(<%= bg_image_one %>);"></div>
  <div class="IllustrationFive" id="hidemob" style="background-image: url(<%= bg_image_two %>);"></div>
  <p class="Header"><%= title %></p>
  <div class="TuitionFlexBox">
    <p class="SubTitle"><%= lead %></p>
    <div class="TuitionInfoWrapper">
      <%= raw text %>
    </div>
  </div>
</div>
